extends baseEmail 

block content 
  p Dear #{firstName},

    p We are thrilled to inform you that you tour booking has been successfully confirmed! 🎉
    
    p BOOKING DETAILS :

    p Tour Name : #{tourName}

    p Tour Date : #{tourDate}

    p Number of Travellers : 

    p Adult : #{adult}, Children : #{children}

    p Booking ID : #{orderId}

    p Thank you for chosing Travel Exotica for your travel plans. We are excited to be a part of your journey and will ensure that you have an unforgettable experience.


    p If you have any questions or need further assistance, please do not hesitate to contact our support team at info@travelexotica.com 

    p We look forward to welcoming you on the tour! 

    p Safe travels, Travel Exotica  

    

    p If you need any help at any time during the tour, please don't hesitate to contact me!
    p - Rishikant Badkur